AllowShortFunctionsOnASingleLine: false
AllowShortBlocksOnASingleLine: false 
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
BasedOnStyle: LLVM
AccessModifierOffset: -4
BreakBeforeBraces: Allman
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IndentCaseLabels: true
IndentWidth: 4
Language: Cpp
PointerAlignment: Left
SpaceBeforeParens: Never
Standard: Cpp11
TabWidth: 4
UseTab: Always
ColumnLimit: 110
AlwaysBreakTemplateDeclarations: true
AlignTrailingComments: true
AlignOperands: true